.right-images-drop{
    width: 200px;

    float: left;

    margin-right: 15px;
}


body {
    background-image: url("https://512pixels.net/downloads/macos-wallpapers-thumbs/10-13--thumb.jpg");
    height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.right-image {
    /* width: 430px;

    float: left;

    margin-right: 15px; */
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}



.box {
    margin-top: 50px;
    margin-bottom: 60px;
    padding: 10px 30px 10px;
   
    background-color: white;

}


.left-image {
  width: 500px;

  float: left;

  margin-right: 15px;
}



@media(max-width: 1000px) {
    .navbar-expand-lg {
        background-color:black!important;
        }
        .navbar {
          max-height: none;
          padding: inherit;
        }
        .navbar div {
          margin: inherit;
          background-color:black;
        }
        .navbar-brand {
          padding: 10px;
        }
    }

